fill_voids==2.1.0
more-itertools==10.7.0
torch==2.8.0
tqdm==4.67.1
pydicom==3.0.1
scikit-image==0.25.2
scipy==1.15.3
simpleitk==2.5.2
lungmask==0.2.20
numpy<2.0
pillow==11.3.0
fastremap==1.17.4
imageio==2.37.0